@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bamum&family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    max-width: 100vw;
    min-width: 300px;
    height: 100vh;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* input {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input:-internal-autofill-selected {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
} */
